body{
    background-color: #e5e5e5;
}


table, td{
    border-collapse: collapse;
}

table{
    border-radius: 10px;
}

#progressBar > td{
    font-size: 30px;
    text-align: center;
    background-color: #ff7575;
    width: 70px;
    height: 40px;
}

button:focus{
    outline:none;
}

.contentContainer{
    display: flex;
    flex-direction: row;
    margin: 25px 100px;
    padding: 20px;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
}

.pane{
    box-shadow: 2px 2px 5px lightgray;
    background-color: #fafafa;
    margin: 5px;
}

.settingsPane{
    padding: 20px;
    width: 23%;
    transition: width 200ms ease-in;
    overflow-y: auto;
}

.settingsContent{
    margin: 0;
    padding: 0;
}

.timerTop{
    padding: 20px;
}
.progressBar{
    margin-top: auto;
}

.timerPane{
    width: 75%;
    transition: width 200ms ease-in;
    display: flex;
    flex-direction: column;
}

.headerContainer{
    box-shadow: 2px 2px 5px lightgray;
    background-color: #fafafa;
    font-size: 40px;
}

#stopwatch-display{
    font-size: 100px;
}

#progressTable{
    width: 100%;
}
